<body>
<div class="content_inside" >
   <div class="topArea" >
   		<div class="logo"><a href="/" title="梨山華新果園" target="_self"><img src="images/logo.png" width="335" height="85" /></a></div>
    	<div class="inside_menu">
              <ul>
                      <li class="about_p press"><a href="#">果園簡介</a></li>
                      <li class="product"><a href="/product" target="_self">產品介紹</a>
                      	    <ul>
                            	<a href="/product?openDiv=peach" title="水蜜桃"><li class="peach">水蜜桃</li></a>
                                <a href="/product?openDiv=pear" title="梨"><li class="pear">梨</li></a>
                                <a href="/product?openDiv=persimmon" title="甜柿"><li class="persimmon">甜柿</li></a>
                           </ul> 
                      </li>
                      <li class="buy"><a href="/orders" target="_self" title="線上訂購">線上訂購</a></li>
                      <li class="message"><a href="/questions" target="_self" title="留言板">留言板</a></li>
                  </ul>
            </div>  
   </div>
   <div class="contentArea">
   		<div class="farmer"><img src="images/farmer.png" width="200" height="370" /></div>
	 <div class="aboutBox">
   	   <h1>&nbsp;</h1>
       <div class="aboutPoint"></div>
       <div class="aboutPic1"> </div>
       <div class="aboutPic2"> </div>
       <div class="aboutPic3"> </div>
       <div class="tree"> </div>
       <div class="fruit"> </div>
       <div class="aboutContent">
       	 <h1>梨山的魔幻時刻</h1>
         <h2>獻給崇尚自然、原味甜的你</h2>
         <h3>《魔幻時刻》（Magic Hour）是一天最美的畫面，<br />
意指每天黃昏接近夜晚之際，天空所出現的絢爛色彩。</h3>
         <p>梨山的魔幻時刻是甚麼時候？
           <br />
           每當客人問起，果農周永藩先生總會靦腆笑說：「通常在七月中到隔年的元月中啦。」
<br />
但他補充道：「不過天公伯仔若是落水落卡多，甜度跑掉就不出貨了。」</p>
		 <p>這麼誠懇的回答，就像華新果園的水果一樣，真摯得讓人溫暖。</p>
         <p>據說，在華新果園的水果面前，人人都會顧不得形象，<br />
           大口吞嚥充足日曬、高海拔特有的甜；
以有機肥料、草生栽培細心栽育，<br />
獲吉園圃安全蔬果肯定，每一口不只甜在心，也吃得安心。</p>
         <p>一談起自己的心血，周先生就有說不完的水果經：</p>
         <p class="mark">「水果好吃的秘密在於土壤的有機質，所以得靠人工將有機肥埋進每一吋土。」</p>
         <p class="mark">「剪枝時要控制每棵果樹的果實數量，長太多會影響甜度。」</p>
         <p class="mark">「和別人（在山上打包）不一樣，我們先運下山，把運送時出問題、
           <br />
         碰傷的水果淘汰後再包裝，多一層品管品質當然更穩定、更好。」</p>
         <p>從栽種、剪枝到運送，為成就魔幻時刻所付出的用心都看得見。</p>
         <p>如果有空，歡迎你來華新果園走走，或是撥個電話，<br />
           和周先生相約台北希望廣場見； 一年在梨山待上300天的周先生帶著歉意地說：<br />
「若收訊不好請多包涵。」因為那裡還很自然，沒有科技的味道。
</p>
         <p>如果沒空又嘴饞，現在網路上就能下訂，只要動動手指，梨山的魔幻時刻也能在你家上映。
           <br />
         錯過這次，明年再見囉。</p>
      </div> 
      <div class="contactBox" itemtype="http://data-vocabulary.org/Organization">
            <div class="line"> </div>
         	<div class="owner">訂購專線:<br /><h5>周永藩先生</h5></div>
            <div class="phone">手機：0928525269<br />電話：<span itemprop="tel">04-25980150</span><br />傳真：04-26276059</div>
            <a href="/orders" target="_self" title="網路訂購"><div class="button">網路訂購</div></a>
         </div>
    </div>
  </body>