<%= stylesheet_link_tag "application", :media => "all" %>
<div class="content_inside" >
   <div class="topArea" >
   		<div class="logo"><a href="/" title="梨山華新果園" target="_self"><img src="images/logo.png" width="335" height="85" /></a></div>
    	<div class="inside_menu">
              <ul>
                      <li class="about">
                      <a href="/intro" target="_self" title="果園簡介">果園簡介</a></li>
                      <li class="product_p press"><a href="#" target="_self">產品介紹</a>
                         <ul>
                            	<a href="/product?openDiv=peach" title="水蜜桃"><li class="peach">水蜜桃</li></a>
                              <a href="/product?openDiv=pear" title="梨"><li class="pear">梨</li></a>
                              <a href="/product?openDiv=persimmon" title="甜柿"><li class="persimmon">甜柿</li></a>
                        </ul>   
                      </li>
                      <li class="buy"><a href="/orders" target="_self" title="線上訂購">線上訂購</a></li>
                      <li class="message"><a href="/questions" target="_self" title="留言板">留言板</a></li>
          </ul>
     </div>  
   </div>
   
   <div class="contentArea">
   <div class="farmer"><img src="images/farmer.png" width="200" height="370" /></div>
	 <div class="productBox">
   	   <h1>&nbsp;</h1>
       <div class="productPoint"></div>
       <div class="productContent">
         <ul>
      		<a href="#" title="水蜜桃"><li class="peach_p" id="peachIcon"> </li></a>
            <a href="#" title="梨"><li class="pear" id="pearIcon"> </li></a>
            <a href="#" title="甜柿"><li class="persimmon" id="persimmonIcon"> </li></a>
         </ul>
         <div id="peachBox">
             <div class="productDetail">
                 <img src="images/product_peach.png" width="390" height="297" alt="華新果園水果-水蜜桃" />
                 <div class="detail"><span class="date">產期：</span> 7月初～8月上旬 <img src="images/item_back.png" /></div>
                 
                 <div class="detail"><span class="feature">特性：</span> 果香濃郁、甜美多汁 <img src="images/item_back.png" /></div>
             </div>
             <h1>水蜜桃</h1>
             <h2>愛情的滋味──水蜜桃</h2>
             <h3>梨山每日第一道曙光孕育而成，
               <br />
               不只飽滿有彈性，更較一般水蜜桃來得紅潤，<br />
    咬下第一口，清新的鮮甜感在舌尖久久無法褪去；
    <br />
    沒嚐過，別說你談過戀愛。</h3>
             <p>華新果園位於梨山老部落果園朝東，使陽光能均勻灑在果園每個角落，讓每一粒<em>水蜜桃</em>享受充足日曬，再加上果農周先生的細心呵護，個個都是果實碩大、甜美多汁的高優質水蜜桃。</p>
        </div>
        <div id="pearBox" class="hiddenClass">
          <div id="pear1" class="pearItem">
              <div class="sweet">
                   <img src="images/pear_sweet1.png" width="130" height="130" /> </div>
                 <div class="productDetail">
                 
                     <img src="images/product_pear1.png" width="390" height="297" alt="華新果園水果-幸水梨" />
                     <div class="detail"><span class="date">產期：</span>  8月底～9月中下旬 <img src="images/item_back.png" /></div>
                     
                     <div class="detail"><span class="feature">特性：</span>  清涼消暑，帶皮吃也美味
<img src="images/item_back.png" /></div>
                 </div>
                 <h1>梨</h1>
                 <h2>花光夏末的好運──幸水梨</h2>
                 <h3>台灣罕見的正宗老欉幸水梨，<br />
                   皮薄肉甜，
    無論你打算豪邁的連皮大咬一口，
                     <br />
                   或優雅的切片品嘗其細緻滋味，
                   <br />
              只要能在溽熱的夏天遇見，都算三生有幸。 </h3>
                 <p>吃過日本<em>幸水梨</em>的人一定對幸水梨的細緻和風味有深刻的印象，而華新果園的幸水梨深具此特色與魅力，無農藥汙染，清水沖洗後直接連皮吃，獨特的香氣、豐富的果汁，包你透心涼。</p>
          </div>
             <div id="pear2" class="pearItem">
                 <div class="sweet">
                       <img src="images/pear_sweet2.png" width="130" height="130" /> </div>
                 <div class="productDetail">
                     <img src="images/product_pear2.png" width="390" height="297" alt="華新果園水果-新興梨" />
                     <div class="detail"><span class="date">產期：</span> 10月上旬～10月下旬<img src="images/item_back.png" /></div>
                     
                     <div class="detail"><span class="feature">特性：</span> 汁多味甜，爽口宜人而不膩<img src="images/item_back.png" /></div>
                 </div>
                 <h1>&nbsp;</h1>
               <h2>「我很醜，可是我很甜。」<br />──新興梨</h2>
                 <h3>誰說粗曠的外表下，不能有甜美的內在？
                   <br />
                   所有深入認識它的人，
                   <br />
                   都不禁脫口而出：「So Sweet！」
                   <br />
               歡迎你和妳，和它交心。</h3>
                 <p>產於梨山華新果園的<em>新興梨</em>，雖然粗粗的外表看似貌不驚人，一切開湯汁卻如湧泉般流出，多汁的程度，看過都大吃一驚。</p>
             </div>
          <a name="pear-3" id="pear-3"></a><div id="pear3" class="pearItem">
              <div class="sweet">
                       <img src="images/pear_sweet3.png" width="130" height="130" /> </div>
                 <div class="productDetail">
                     <img src="images/product_pear3.png" width="390" height="297" alt="華新果園水果-雪梨" />
                   <div class="detail"><span class="date">產期：</span>  12月中～翌年1月下旬<img src="images/item_back.png" /></div>
                     
                     <div class="detail_l"><span class="feature_l">特性：</span>
                     <p class="word">體型、重量、甜度或口感，
                       <br />
                   皆為梨中之王 </p>
                   <img src="images/item_back_l.png" /></div>
                 </div>
                 <h1>&nbsp;</h1>
            <h2>下了一場梨山雪──雪梨</h2>
                 <h3>傳說中有種雪飄著淡淡果香，
                   <br />
                   無論太陽怎麼曬都不會融，
                   <br />
                   據好奇嚐過的人形容，
                   <br />
                   口感不僅鮮脆、多汁且細緻有層次；
                   <br />
            這場雪，現在已靜靜落在梨山，下在華新果園。 </h3>
                 <p>原產於日本高海拔山區，生長速度緩慢，能吸收更多大地日月精華，因梨山天氣冷，植物為防止凍傷，會將本身儲存的澱粉完全轉化成果糖；得天獨厚的環境，也是<em>雪梨</em>甜度比一般水果更高的原因。</p>
          </div>
        </div>
        <div id="persimmonBox" class="hiddenClass">
             <div class="productDetail">
                 <img src="images/product_persimmon.png" />
               <div class="detail"><span class="date">產期：</span>  11月中～12月上旬 <img src="images/item_back.png" /></div>
                 
                 <div class="detail_l"><span class="feature_l">特性：</span> 
                 <p>
                 無澀味，獨留色香味 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
                 <span class="mark">101年度富有甜柿評選全國第三名</span>
                 </p>
                 <img src="images/item_back_l.png" />
               </div>
          </div>
             <h1>甜柿</h1>
             <h2>只留青春的甘甜──甜柿</h2>
             <h3>凡事豈能盡如人意？<br />
偏偏華新果園的甜柿正合你意，<br />
一咬下口，就甜得讓你想起所有美好的回憶，
<br />
往事的苦澀，早已忘得一乾二淨。</h3>
             <p>精選品種 ｢富有<em>甜柿</em>｣，果型圓厚飽滿，顏色鮮豔可人，果肉細緻，香甜多汁，除了深受消費者喜愛，也是各大農會強力推薦的優質水果之一。</p>
        </div>
      </div> 
      <div class="contactBox" itemtype="http://data-vocabulary.org/Organization">
            <div class="line"> </div>
         	<div class="owner">訂購專線:<br /><h5>周永藩先生</h5></div>
            <div class="phone">手機：0928525269<br />電話：<span itemprop="tel">04-25980150</span><br />傳真：04-26276059</div>
            <a href="/orders" target="_self" title="網路訂購"><div class="button">網路訂購</div></a>
       </div>
    </div>
  