<!--top-out-->
<div id="container">
   <div class="editArea">
      <div id="side" class="left">
        <ul>
          <li><a href="/admin/questions" target="_self" id="message">留言管理</a></li>
          <li><a href="/admin/news" target="_self" id="news">最新消息</a></li>
          <li><a href="/admin/orderproducts" target="_self" id="product">商品管理</a></li>
          <li><a href="/admin/orders" id="order" class="active">訂單管理</a></li>
        </ul>
      </div>
      <!--side-->
      <div id="main" class="right">
        <div class="main-list">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr class="main-list-title">
              <th width="22%" align="center" scope="col">訂購日期</th>
              <th width="34%" align="left" scope="col">訂購者</th>
              <th width="34%" align="left" scope="col">訂購金額</th>
              <th width="10%" align="center" scope="col">瀏覽</th>
            </tr>
            <% @orders.each do |order| %>
            <tr>
              <td align="center"><%= order.created_at.to_date %></td>
              <td align="left"><%= link_to order.customername, admin_order_path(order) %></td>
              <td align="left"><%= order.totalprice %></td>
              <td align="center"><%= link_to image_tag("/images/search.png"), admin_order_path(order) %></td>
            </tr>
            <% end %>
            
          </table>
        </div>
        <div class="page_box">
                <div class="newsPage">
                    <ul>
                        <a href="#"><li class="pre"> </li></a>
                        <a href="#"><li class="press">1</li></a>
                        <a href="#"><li>2</li></a>
                        <a href="#"><li>3</li></a>
                      <a href="#"><li class="next"> </li></a>
                    </ul>
                </div>
        </div>
        <div class="info">按鈕說明：<img src="/images/search.png" align="center"/>瀏覽訂單</div>
      </div>
      <!--main--> 
   </div>
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->